<div class="phishing" [hidden]="!Luca">

    <div class="bunny-container">   
    </div>

    <div class="phi_position">
        <img class="phishing-bunny" src="../assets/Logos/warning logo/phishing-warning-bunny.png">
        <div class="phishing_warn">
             <span style="color: rgb(255, 178, 55);
             font-size: 14px;
             font-weight: 600;
             line-height: 1.5;
             text-transform: uppercase;
             ">PHISHING WARNING: </span> 

             <span style="color: rgb(189, 194, 196);
             font-size: 14px;
             font-weight: 400;
             line-height: 1.5;">please make sure you're visiting </span> 

             <span style="color: rgb(255, 255, 255);
             font-size: 14px;
             font-weight: 600;
             line-height: 1.5;">https://pancakeswap.finance </span> 

             <span style="color: rgb(189, 194, 196);
             font-size: 14px;
             font-weight: 400;
             line-height: 1.5;
         "> - check the URL carefully.</span> 
         </div>
    </div>
       
    

    <div class="warn_position">
        
        <button class="warnclose_button" (click)="nasconDino()">
            <img class="gabbibo" src="../assets/svg/xbutton.svg" > </button>
     </div>

</div>
